@media (max-width: 800px) {
  #preview-pane, #editor-pane {
    box-sizing: border-box;
    height: 600px;
    margin: auto;
    padding: 10px;
    width: 100vw;
    flex: 1;
    min-width: 400px;
  }

  textarea {
    width: 100%;
    box-sizing: border-box;
  }
}
body {
  background-color: #ddf;
}
body #overall > h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  box-sizing: border-box;
}

#editor-pane {
  padding: 10px;
  flex: 1 1 auto;
  order: 0;
  width: 45vw;
}

#preview-pane {
  order: 1;
  flex: 1 1 auto;
  padding: 10px;
  width: 45vw;
  background-color: white;
  border: 1px solid black;
  margin: 10px;
}

textarea {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 100%;
  min-height: 500px;
}
